<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
  <div id="background">
    <div id="page">
      {{> header }}

      <div id="contents">
        <div class="box">
          <div>
            <div class="body">
              <h1>Travel</h1>
              {{#if message}}
                <p>{{message}}</p>
              {{/if}}
              <ul id="sites">
                {{#each trips}}
                <li>
                  <a href="/api/trips/{{this.code}}"><img src="/images/{{this.image}}" alt="{{this.name}}"></a>
                  <h2><a href="/api/trips/{{this.code}}">{{this.name}}</a></h2>
                  <p><strong>{{this.resort}}</strong></p>
                  <p>{{this.length}} — ${{this.perPerson}} per person</p>
                  <p>{{this.description}}</p>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
  </div>
</body>
</html>
